body {
    text-align: center;
    background-image: url("../assets/farm-background.jpg");
}


tr {
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
}

td {
    
    
}

img {
    width: 150px;
    width: 130px;
    
}

#insert-rows {
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 3px solid black;
    align-self: center;
    align-content: center;
    margin: 15px;
    
}

footer nav {
    display: flex-inline;
    text-decoration: none;
    align-items: center;
}




    











